<?xml version="1.0" encoding="UTF-8"?>
<Response>
  <Connect>
    <Stream url="wss://<your_server_url>/ws?language={{flow.variables.caller_language}}"></Stream>
  </Connect>
  <Pause length="40"/>
</Response>
